<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h2>Employee info</h2>
<br>

<form th:action="@{/saveEmployee}" th:object="${employee}">

    <input type="hidden" th:field="${employee.id}"/>

    Name <input type="text" th:field="${employee.name}"/>
    <br><br>
    Surname <input type="text" th:field="${employee.surname}"/>
    <br><br>
    Department <input type="text" th:field="${employee.department}"/>
    <br><br>
    Salary <input type="text" th:field="${employee.salary}"/>
    <br><br>
    <input type="submit" value="ok">

</form>
</body>
</html>